@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot?#') format('eot'), /* IE6–8 */ url('../fonts/BYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
    font-family: 'BZar';
    src: url('../fonts/BZar.eot?#') format('eot'), /* IE6–8 */
    url('../fonts/BZar.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/BZar.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
    font-family: 'BTitrBold';
    src: url('../fonts/BTitrBold.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/BTitrBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/BTitrBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
    font-family: 'BNazanin';
    src: url('../fonts/BNazanin.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/BNazanin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/BNazanin.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype'); /* IE6–8 */
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype'); /* IE6–8 */
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf') format('truetype'); /* IE6–8 */
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'); /* IE6–8 */
}

@font-face {
    font-family: 'Mj-Flow-Reqular';
    src: url('../fonts/mj-flow-regular.ttf') format('truetype'); /* IE6–8 */
}

@font-face {
    font-family: 'Duel-Regular';
    src: url('../fonts/duel-regular.ttf') format('truetype'); /* IE6–8 */
}

.Duel-Regular {
    font-family: Duel-Regular, Arial, Helvetica, sans-serif;
}

.Mj-Flow-Reqular {
    font-family: Mj-Flow-Reqular, Arial, Helvetica, sans-serif;
}

.BYekan {
    font-family: BYekan, Arial, Helvetica, sans-serif;
}

.BNazanin {
    font-family: BNazanin, Arial, Helvetica, sans-serif;
}
.BZar {
    font-family: BZar, Arial, Helvetica, sans-serif;
}
.BTitrBold {
    font-family: BTitrBold, Arial, Helvetica, sans-serif;
}
.BNazanin {
    font-family: BNazanin, Arial, Helvetica, sans-serif;
}
.RobotoLight {
    font-family: Roboto-Thin, Arial, Helvetica, sans-serif;
}
.Roboto-Bold {
    font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
}

.Lato-Light {
    font-family: Lato-Light, Arial, Helvetica, sans-serif;
}

.Roboto-Regular {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
}


.satisfy {
    font-family: 'Satisfy', cursive;
}
.poiret-one {
    font-family: 'Poiret One', cursive;
}
.cabin {
    font-family: 'Cabin', cursive;
}
.wire-one {
    font-family: 'Wire One', sans-serif;
}
.merienda {
    font-family: 'Merienda', cursive;
}
.Roboto {
    font-family: 'Roboto', cursive;
}

